<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="HelloAspAngular.Infra" />
    <assembly name="HelloAspAngular.Infra.Persistence" />
    <assembly name="HelloAspAngular.Domain" />
    <assembly name="HelloAspAngular.App" />
    <assembly name="HelloAspAngular.Web" />
    <typeAliases>
        <typeAlias alias="PerRequestLifetimeManager" type="Microsoft.Practices.Unity.PerRequestLifetimeManager, Microsoft.Practices.Unity.Mvc" />
    </typeAliases>
    <container>
        <register type="HelloAspAngular.Infra.Persistence.AppContext">
            <lifetime type="PerRequestLifetimeManager" />
        </register>
        <register type="HelloAspAngular.Infra.IUnitOfWork"
                  mapTo="HelloAspAngular.Infra.Persistence.AppUnitOfWork" />
        <register type="HelloAspAngular.App.ITodoListAppService"
                  mapTo="HelloAspAngular.App.TodoListAppService" />
        <register type="HelloAspAngular.Domain.TodoLists.ITodoListService"
                  mapTo="HelloAspAngular.Domain.TodoLists.TodoListService" />
        <register type="HelloAspAngular.Domain.TodoLists.ITodoListRepository"
                  mapTo="HelloAspAngular.Infra.Persistence.TodoLists.TodoListRepository" />
    </container>
</unity>
