<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="HelloAspAngular.Infra" />
    <assembly name="HelloAspAngular.Domain" />
    <assembly name="HelloAspAngular.App" />
    <assembly name="HelloAspAngular.Web" />
    <typeAliases>
        <typeAlias alias="PerRequestLifetimeManager" type="Microsoft.Practices.Unity.PerRequestLifetimeManager, Microsoft.Practices.Unity.Mvc" />
    </typeAliases>
    <container>
        <register type="HelloAspAngular.Infra.Repositories.TodoListContext">
            <lifetime type="PerRequestLifetimeManager" />
        </register>
        <register type="HelloAspAngular.Domain.IUnitOfWork" mapTo="HelloAspAngular.Infra.Repositories.UnitOfWork" />
        <register type="HelloAspAngular.Domain.Todos.ITodoListRepository" mapTo="HelloAspAngular.Infra.Repositories.TodoListRepository" />
        <register type="HelloAspAngular.App.ITodoListAppService" mapTo="HelloAspAngular.App.Impl.TodoListAppService" />
    </container>
</unity>
